.fa-rub{
    font-size: 14px;
}

.form-control{
    border-radius: 0px;
}

.result-order{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
}
.go-menu-block, .Ñontents-block{
    background-color: #111;
    border: none;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 160px;
    margin-bottom: 10px;
}

.block-top-image{

}

.container-basket{
    max-width: 1100px;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .display-block-xs{
        display: block;
    }

    .block-inform-dish{
        font-size: 12px;
    }

    .fa-rub{
        font-size: 10px;
    }
}

.form-control:focus {
    border-color: #1f2122;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
     box-shadow: inherit;
}

.modal-dialog{
    width: 300px;
    padding-bottom: 5px;
    top: 100px;
}

.fa-check:before {
    color: #53d86b;
    content: "\f00c";
    font-size: 70px;
    padding: 10px;
}

.remove-btm{
    padding: 0px;
}

.input-block > input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-block > textarea{
    border: 1px solid #ccc;
    height: 226px;
    width: 100%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-block > input:focus, .input-block > textarea:focus{
    border-color: #555;
}

.vertical-sub{
    vertical-align: sub;
}

.text-red{
    color: red;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.inline-block{
    display: inline-block;
}

.form-order-col{
    height: 250px;
    padding: 0px 5px;
}

.none-padding{
    padding: 0px;
}

.container-basket_{
    max-width: 1040px;
}

.block-inform-dish_{
    color: #777;
}

.line-basket{
    border-top: 1px solid #111;
    margin: 18px 0px 20px;
}

.padtop4{
    padding-top: 4px;
}

.hr-block{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

label{
    margin: 0px;
}

.label-block{
    height: 30px;
}
